@media (min-width: 1000px) {
    .container {
        margin-left: 4rem;
        margin-right: 4rem;
        max-width: 80em;
    }
}

@media (max-width: 1000px) {
    .container {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

h1 {
    text-align: center;
}

.repl-text {
    color: #e0ceed;
    background-color: #110e13;
    font-size: 12pt;
    font-family: monospace;
}

.repl {
    display: flex;
    flex-direction: column;
    white-space: pre;
    padding: 1rem;
    border-radius: 4px;
    height: 30rem;
    overflow: auto;
}

.repl .log {
    white-space: pre-wrap;
    color: #e0ceed;
}

.repl .prompt {
    white-space: pre;
    display: flex;
}

.repl .prompt textarea {
    flex-grow: 100;
    border: 0;
    padding: 0;
    color: #e0ceed;
    background-color: #110e13;
}

.repl .prompt textarea:focus {
    outline:none;
}
